{% extends 'base.html' %}

{% block content %}

<div class="px-3 py-2 bg-gray-100 rounded-sm">
    <h3 class="text-3xl text-gray 900">{{ appartment.title }}</h3>
    <p class="text gray-500">${{ appartment.price }}</p>
   <p class="text gray-600 text-sm"> {{ appartment.address }}</p>


    {% if request.user.is_staff %}
<div class="mt-5 py-5 border-t border-grey-200">
   <a href="/appartments/{{appartment.id}}/edit" class="text-blue-500">
        Edit
    </a>
    <a href="/appartments/{{appartment.id}}/delete"class="ml-3 text-blue-500">
        Delete
    </a>
 </div>
 {% endif %}

</div>

{% endblock %}